
.container 
{
    column-width: 20rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.item
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    break-inside: avoid;
}

.main-header
{
    margin-left: 10rem;
}

body
{
    font-family: sans-serif;
}

h2
{
    padding-left: 2rem;
    padding-top: 1rem;
    margin-top: 0;
}

ul
{
    padding-right: 1rem;
}

li
{
    padding-bottom: 1rem;
}

footer
{
    position: fixed;
    bottom: 0;
    background: white;
}