
.container 
{
    column-width: 20rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.content
{
    column-width: 30rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.content .item p 
{
    padding: 0rem 2rem 1rem 2rem;
    margin-top: 0;
} 

.content .item ul 
{
    padding-top: 0;
}

.content .item li
{
    padding-bottom: 1rem;
}

.item
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background: white;
    break-inside: avoid;
}

.main-header
{
    margin-left: 10rem;
}

.button-group
{
    margin-left: 10rem;
    margin-bottom: 1rem;
}

.button-active
{
    background: #4174C0 !important;
}

.button-day
{
    font-weight: bold;
    background: white;
    border-style: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.button-day:hover
{
    background: #4174C0;
}

body
{
    font-family: sans-serif;
    background: rgb(238, 238, 238);
}

h2
{
    padding-left: 2rem;
    padding-top: 1rem;
    margin-top: 0;
}

ul
{
    padding-right: 1rem;
}

li
{
    padding-bottom: 1rem;
}

footer
{
    position: fixed;
    bottom: 0;
    background: white;
}